In [17]:
import numpy as np
import pandas as pd
import re

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [34]:
reviews = pd.read_csv('Bali Hotel Review.csv', delimiter=';')  # Example: semicolon delimiter
reviews = pd.read_csv('Bali Hotel Review.csv', sep='\t')      # Example: tab delimiter

In [35]:
reviews.head()

  Location;Hotel;UserID;Title;Review;Rating;Value;Accessibility;Service;Room;Cleanliness;Sleep Quality
0  Legian Kuta Bali;Merccure Bali Legian;Barry Sl...
1  Legian Kuta Bali;Merccure Bali Legian;u4ianoos...
2  Legian Kuta Bali;Merccure Bali Legian;Phoenix ...
3  Legian Kuta Bali;Merccure Bali Legian;Brenda;B...
4  Legian Kuta Bali;Merccure Bali Legian;Sukhwind...

In [12]:
reviews = reviews.rename(columns={0:'Hotel Reviews'})

In [13]:
reviews.head()

                                       Hotel Reviews
0  1. Amazing hotel with excellent service and am...
1  2. "The staff was friendly and helpful, making...
2  3. "The room was spacious, clean, and well-mai...
3  4. "The bed was incredibly comfortable, ensuri...
4  5. "The hotel's location was perfect, close to...

In [29]:

reviews['cleaned_review'] = reviews['Hotel Reviews'].apply(lambda x : x[2:])

In [32]:
reviews['cleaned_review'].nunique()

75