In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('HotelFINALdataset.xlsx')

In [4]:
df.head()

,User_ID,travelCode,Hotel_Name,Arrival_place,Hotel_stay,Hotel_per_day_price,Check-in,Hotel_TotalPrice
0,0,0,Hotel A,Florianopolis (SC),4,313.02,09/26/2019,1252.08
1,0,2,Hotel K,Salvador (BH),2,263.41,10/10/2019,526.82
2,0,7,Hotel K,Salvador (BH),3,263.41,11/14/2019,790.23
3,0,11,Hotel K,Salvador (BH),4,263.41,12/12/2019,1053.64
4,0,13,Hotel A,Florianopolis (SC),1,313.02,12/26/2019,313.02

In [5]:
df['Hotel_Name'].value_counts()

Hotel_Name
Hotel K     5094
Hotel CB    5029
Hotel BD    4829
Hotel AF    4828
Hotel AU    4467
Hotel BP    4437
Hotel BW    4333
Hotel Z     4205
Hotel A     3330
Name: count, dtype: int64

In [6]:
df['Arrival_place'].value_counts()

Arrival_place
Salvador (BH)          5094
Rio de Janeiro (RJ)    5029
Natal (RN)             4829
Sao Paulo (SP)         4828
Recife (PE)            4467
Brasilia (DF)          4437
Campo Grande (MS)      4333
Aracaju (SE)           4205
Florianopolis (SC)     3330
Name: count, dtype: int64

In [7]:
hotels1 = ["Grand Palace Hotel", "Sunset Resort", "Oceanview Inn"];
hotels2 = ["Mountain Lodge", "Skyline Suites", "Golden Sands Hotel"];
hotels3 = ["Royal Orchid", "Emerald Bay Resort", "Cityscape Hotel"];
hotels4 = ["Seaside Retreat", "The Majestic Tower", "Harbor View Hotel"];
hotels5 = ["Crystal Cove Resort", "Lakeside Manor", "Urban Elegance Hotel"];
hotels6 = ["The Grand Horizon", "Tranquil Meadows Hotel", "Starlight Inn"];
hotels7 = ["Serenity Bay", "Evergreen Lodge", "Summit Heights Hotel"];
hotels8 = ["Azure Waves Resort", "Regal Heights Hotel", "Velvet Sunset Inn"];
hotels9 = ["Aurora Bliss Hotel", "The Sapphire Retreat", "Horizon Cliff Hotel"];

In [8]:
hotel_mapping = {
    "Hotel K": hotels1,
    "Hotel CB": hotels2,
    "Hotel BD": hotels3,
    "Hotel AF": hotels4,
    "Hotel AU": hotels5,
    "Hotel BP": hotels6,
    "Hotel BW": hotels7,
    "Hotel Z": hotels8,
    "Hotel A": hotels9
}

In [10]:
import random
def replace_hotel_name(hotel):
    if hotel in hotel_mapping:
        return random.choice(hotel_mapping[hotel])
    return hotel 
df["Hotel_Name"] = df["Hotel_Name"].apply(replace_hotel_name)

In [11]:
df

,User_ID,travelCode,Hotel_Name,Arrival_place,Hotel_stay,Hotel_per_day_price,Check-in,Hotel_TotalPrice
0,0,0,The Sapphire Retreat,Florianopolis (SC),4,313.02,09/26/2019,1252.08
1,0,2,Oceanview Inn,Salvador (BH),2,263.41,10/10/2019,526.82
2,0,7,Oceanview Inn,Salvador (BH),3,263.41,11/14/2019,790.23
3,0,11,Oceanview Inn,Salvador (BH),4,263.41,12/12/2019,1053.64
4,0,13,Horizon Cliff Hotel,Florianopolis (SC),1,313.02,12/26/2019,313.02
...,...,...,...,...,...,...,...,...
40547,1339,135938,Tranquil Meadows Hotel,Brasilia (DF),3,247.62,06/18/2020,742.86
40548,1339,135939,Tranquil Meadows Hotel,Brasilia (DF),1,247.62,06/25/2020,247.62
40549,1339,135940,Evergreen Lodge,Campo Grande (MS),3,60.39,07/02/2020,181.17
40550,1339,135941,Summit Heights Hotel,Campo Grande (MS),3,60.39,07/09/2020,181.17
40551,1339,135942,Emerald Bay Resort,Natal (RN),4,242.88,07/16/2020,971.52

In [13]:
df['Hotel_Name'].nunique()

27

In [14]:
df.to_excel('Hotel_1Final.xlsx',index=False)
from IPython.display import FileLink
FileLink('Hotel_1Final.xlsx')

C:\Users\SURAJ\Desktop\Dataset\Datas\Hotel_1Final.xlsx